[class*="imageZoom-"] img, [class*="wrapperPaused-"] video {
    filter: blur(20px);
}

[class*="imageZoom-"]:after {
    content: "Click to view";
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background: var(--brand-experiment);
    color: #fff;
    text-decoration: none;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
}

[class*="imageZoom-"]:hover:after {
    background: var(--brand-experiment-560);
    text-decoration: none;
    transition: 0.2s;
}